<div class="about-container">
    <div id="about-wrapper">

      <div id="game-about">
        <aside id="blurb">
          <h2>About the game</h2>
          <p>Rick Rampage is a collaborative project, produced in General Assembly's Web Development Immersive course in Sydney, Australia. It was built using Phaser.js, Javascript, jQuery, & Ruby on Rails.</p>
          <p>General Assembly is a quickly expanding global tech school. Learn more about it <a href="https://generalassemb.ly/education/web-development-immersive?utm_campaign=2014+Q1+Other+%5Bsydney%5D+wdi3-student-project&utm_medium=ga_public_engagement&utm_source=rickrampage">here</a>.</p>
          <div class="clear"></div>
        </aside>

        <aside id="GA"></aside>

      </div>

      <h2>The Team</h2>

      <div class="prof-wrapper">
          <div class="profile">
            <aside class="picture nick"></aside>
            <section>
              <h2>Nick Morgan</h2>
              <p>Team Manager, Creative Director, Front-End Developer</p>
              <p class="expand">Expand &#x25BC;</p>
            </section>
          </div>

          <div class="dropdown">
            <section class="drop">
              <p>Hailing from New York City, Nick is an artist, designer, and aspiring developer. Check out his work in the links below.</p>
              <div class="social-media">
                <a href="https://www.behance.net/nickjmorgan" class="behance" target="_blank">behance</a>
                <a href="https://twitter.com/NickMorgan_Arts" class="twitter" target="_blank">twitter</a>
                <a href="http://www.linkedin.com/profile/view?id=62589499&locale=en_US&trk=tyah&trkInfo=tas%3Anick%20m%2Cidx%3A2-1-2" class="linkedin" target="_blank">linkedin</a>
                <a href="https://github.com/cptnmrgn" class="github" target="_blank">github</a>
                <a href="http://nickmorgandesigns.com/" class="nm" target="_blank">nmarts</a>
              </div>
            </section>
          </div> 

      </div>

      <div class="prof-wrapper">
          <div class="profile">
            <aside class="picture alberto"></aside>
            <section>
              <h2>Alberto Forni</h3>
              <p>Lead Developer, Game Developer</p>
              <br><p class="expand">Expand &#x25BC;</p>
            </section>
          </div>

           <div class="dropdown">
            <section class="drop">
              <p>Alberto is a web developer who is passionate about ruby and javascript. As a good italian, he also loves pizza and pasta</p>
              <div class="social-media">
                <a href="https://plus.google.com/115757917841299086495/posts" target="_blank" class="google">google</a>
                <a href="https://twitter.com/albertoforni" target="_blank" class="twitter">twitter</a>
                <a href="http://www.linkedin.com/in/albertoforni" target="_blank" class="linkedin">linkedin</a>
                <a href="https://github.com/albertodotcom" target="_blank" class="github">github</a>
              </div>
            </section>
          </div> 
      </div>
      
      <div class="prof-wrapper">
          <div class="profile">
            <aside class="picture ed"></aside>
            <section>
              <h2>Ed Fastovski</h2>
              <p>Game Developer, Front-End Developer</p>
              <br><p class="expand">Expand &#x25BC;</p>
            </section>
          </div>

           <div class="dropdown">
            <section class="drop">
              <p>Ed enjoys hacking and skateboarding be it in Sydney or mother Russia.</p>
              <div class="social-media">
                <a href="http://codepen.io/ed-fast/" target="_blank" class="codepen">codepen</a>
                <a href="https://twitter.com/eduard_fast" target="_blank" class="twitter">twitter</a>
                <a href="http://www.linkedin.com/profile/view?id=239553509&locale=en_US&trk=tyah&trkInfo=tas%3Aed%2Cidx%3A2-3-4" target="_blank" class="linkedin">linkedin</a>
                <a href="https://github.com/ed-fast" target="_blank" class="github">github</a>
              </div>
            </section>
          </div> 
      </div> 
      
      <div class="prof-wrapper">
          <div class="profile" id="luke">
            <aside class="picture luke"></aside>
            <section>
              <h2>Luke Schoen</h2>
              <p>Back-End Developer, Social Media/Analytics Strategist</p>
              <p class="expand">Expand &#x25BC;</p>
            </section>
          </div>

           <div class="dropdown">
            <section class="drop" id="lschoen">
              <p>Firing it up like it's hot from Sydney, Luke's an aspiring developer and entrepreneur. He eats engineering for breakfast and his mind is a volcano erupting with ideas. Click below to see what he's up to now!</p>
              <div class="social-media">
                
                <a href="https://twitter.com/ltfschoen" target="_blank" class="twitter">twitter</a>
                <a href="http://www.linkedin.com/profile/view?id=13774898&locale=en_US&trk=tyah&trkInfo=tas%3Aluke%20schoen%2Cidx%3A1-1-1" target="_blank" class="linkedin">linkedin</a>
                <a href="https://github.com/ltfschoen" target="_blank" class="github">github</a>
                <a href="http://lukeschoen.blogspot.com.au/" target="_blank" class="blogspot">blogspot</a>
              </div>
            </section>
          </div> 
      </div> 



    </div>  

</div>

<script>

var dropdown = function(){
  var area = $(this).closest('.prof-wrapper').find('.dropdown');
  area.stop().css('display','block').animate({height:'150px'}, 300);
  // area.slideDown();
};

var close = function(){
  var area = $(this).find('.dropdown');
  area.css('display','none').animate({height:'0px'}, 300);
  // area.slideUp();
};

var scroll = function(){
  $("html, body").animate({ scrollTop: $(document).height() }, 1000);
};

$('.profile').on('mouseenter', dropdown);
$('.prof-wrapper').on('mouseleave', close);

$('#luke').on('mouseenter', scroll);


  
</script>
