

<div id="about-container">
    <div id="about-wrapper">

      <div id="game-about">
        <aside id="blurb">
          <h2>About the game</h2>
          <p>Rick Rampage is a collaborative project, produced in General Assembly's Web Development Immersive course in Sydney, Australia.</p>
          <div class="clear"></div>
        </aside>

        <aside id="GA"></aside>

      </div>

      <h2>The Team</h2>

      <div id="profile">
        <aside id="picture"></aside>
        <section>
          <h2>Nick Morgan</h3>
          <p>Developer, Designer, Artist</p>
        </section>
      </div>

      <!-- <div id="dropdown">
        <section>
          <h2>Nick Morgan</h3>
          <p>Developer, Designer, Artist</p>
        </section>
      </div> -->

      <div id="profile">
        <aside id="picture"></aside>
        <section>
          <h2>Alberto Forni</h3>
          <p>Developer, Designer, Artist</p>
        </section>
      </div>

      <div id="profile">
        <aside id="picture"></aside>
        <section>
          <h2>Ed Fastovski</h3>
          <p>Developer, Designer, Artist</p>
        </section>
      </div>

      <div id="profile">
        <aside id="picture"></aside>
        <section>
          <h2>Luke Schoen</h3>
          <p>Developer, Designer, Artist</p>
        </section>
      </div>



    </div>  

</div>

<script>
  
</script>
