/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



body {
  background-color: black;
  background-color: #091338;
  background-image: image-url('skulls.png');
  background-repeat: no-repeat;
  background-position: right top;
  color:white;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  line-height: 18px;
}


h1 a{
  background: image-url('titleSmall.png');
  width: 243px;
  height: 90px;
  margin-left: 150px;
  display:block;
  
  text-indent: 100%;
  white-space: nowrap;
  overflow:hidden;
}


#container {
  width: 1240px;
  margin: 0 auto;
  display: block;

}


#gameContainer {
  width: 800px;
  margin: 0 auto;
  /*display: inline-block;*/
  /*position: absolute;*/
  z-index: -1;
  border: 22px solid #313844;
  font-family: 'Press Start 2P', cursive;

}

#gameContainer > canvas {
  margin: 0 auto;
  font-family: 'Press Start 2P', cursive;
}


.navbar-text {
	float:right;
	margin-right: 20px;
	color: white;
	margin-top: 0px;
}


#social-media {
  display: inline-block;
  width: 160px;
  /*float: right;*/
  /*position: relative;*/
  margin-right: 10px;
  position: absolute;
  /*right: 0px;*/
  top: 10px;

}

#fb-like {
	clear:left;
}


.gameUserInput {
  display: block;
  position: absolute;
  height: 40px;
  width: 330px;
  line-height: 40px;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #333333;
}

.hidden {
  display: none;
  visibility: hidden;
}