/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#gameContainer {

	display: inline-block;
	position: absolute;
	z-index: -1;

}

/* used in game.html.erb */
.score_div {

/* display: none; */  /* default is not to display so it will fade in later than div called in game.js */


}

/* used in game.html.erb */
.score_th {
	text-align: center;
    zoom: 1.0;
}

/* used in game.html.erb */
.score_div {
	/* float: left; */
	opacity: 50%;
	float: left;
	margin-top: 0px;
	z-index: 2;
	position: relative;
}

#tweeting {
	margin-left: 600px;
}

#stats { 
	margin-left: 600px;
	clear: left;
	width: 200px;
}

#topscores {
	margin-left: 600px;
	clear: left;
}

#testscoresave {
	margin-left: 600px;
	clear: left;
}

/* used in game.html.erb */
.score_table {
	border: 1px solid gray;
}
