/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {

}

.homelink {
	
}

#signIn, #signUp {
	width: 960px;
	margin: 0 auto;
	color: white;
	text-align: center;
}

#signIn form, #signUp form {
	margin-bottom: 20px;
}

#gameContainer {
  width: 800px;
  margin: 0 auto;
  /*display: inline-block;*/
  /*position: absolute;*/
  z-index: -1;
  border: 22px solid #313844;
  font-family: 'Press Start 2P', cursive;

}

#gameContainer > canvas {
  margin: 0 auto;
  font-family: 'Press Start 2P', cursive;
}

#stats {
	
}

.navbar-text {
	float:right;
	margin-right: 20px;
	color: white;
	margin-top: 0px;
}


/* used in game.html.erb */
.score_div {

/* display: none; */  /* default is not to display so it will fade in later than div called in game.js */

}

/* used in game.html.erb */
.score_th {
	text-align: center;
    zoom: 1.0;
}

/* used in game.html.erb */
.score_div {
	/* float: left; */
	opacity: 50%;
	float: right;
	margin-top: 0px;
	/*z-index: 2;*/
	position: relative;
}

/*
* {
	border: 1px solid white;
}
*/

#tweeting {
	/* margin-left: 600px; */ 
	position: absolute;
	margin-top: 40px;

}

#fb-like {
	clear:left;
}

#stats { 
	/*margin-left: 600px;*/
	clear: left;
	width: 200px;
}

#topscores {
	/*margin-left: 600px;*/
	clear: left;
}

#testscoresave {
	/*margin-left: 600px;*/
	clear: left;
}

/* used in game.html.erb */
.score_table {
	border: 1px solid gray;
}


.gameUserInput {
  display: block;
  position: absolute;
  height: 40px;
  width: 330px;
  line-height: 40px;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #333333;
}

.hidden {
  display: none;
  visibility: hidden;
}