/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

header {
  width: 73%;
  margin: 0 auto;
  
}

nav {
  float: right;
  display: block;
  padding-top: 60px;
  padding-bottom: 10px;
  padding-right: 15px;
}

nav a {
  font-size: 17px;
  text-decoration: none;
  padding-left: 15px;
}

nav a:hover {
  color: #77E8FF;
}

#header-wrapper {
  width: 844px;
  text-align: center;
  margin: 0 auto;
}


body {
  background-color: black;
  background-color: #091338;
  background-image: image-url('skulls.png');
  background-repeat:repeat-y;
  background-position: right top;
  color:white;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  line-height: 18px;
}

header h1 {
  margin-bottom: 0px;
}

h1 a{
  background: image-url('titleSmall.png');
  width: 243px;
  height: 90px;
  margin-left: 0px;
  display:block;
  float: left;
  
  text-indent: 100%;
  white-space: nowrap;
  overflow:hidden;
}


#container {
  width: 100%;
  margin-top: 0px;
  display: block;

}

#empty-left {
  display: inline-block;
  width: 12%;
}

#center-wrapper{
  display: inline-block;
  width: 73%;
  text-align: center;
}

#gameContainer {
  width: 800px;
  text-align: center;
  display: inline-block;
  /*position: absolute;*/
  z-index: -1;
  border: 22px solid #313844;
  font-family: 'Press Start 2P', cursive;

}

#gameContainer > canvas {
  margin: 0 auto;
  font-family: 'Press Start 2P', cursive;
}


.navbar-text {
	float:right;
	margin-right: 20px;
	color: white;
	margin-top: 0px;
}


#social-media {
  display: inline-block;
  width: 12%;
  /*float: right;*/
  /*position: relative;*/
  vertical-align: top;

}

#fb-like {
	clear:left;
}


.gameUserInput {
  display: block;
  position: absolute;
  height: 40px;
  width: 330px;
  line-height: 40px;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #333333;
}

.hidden {
  display: none;
  visibility: hidden;
}

// about page

#about-container {
  width: 73%;
  margin: 0 auto;
}

#about-wrapper {
  width: 844px;
  margin: 0 auto;
  padding-left: 25px;
  padding-top: 15px; 
  padding-bottom: 35px;
}

#about-wrapper p {
  line-height: 1.8em;
}

#game-about {
  width: 840px;
  margin: 15px 0px 36px 0px;
}

#blurb {
  width: 684px;
  display: inline-block;
  // float: left;
}

#blurb a {
  text-decoration: none;
  color: #77E8FF;
}

#GA {
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-image: image-url('logo.png');
  display: inline-block;
  margin-left: 14px;
  margin-bottom: 66px;
}

.prof-wrapper {
  // color: #77E8FF;
}

.profile {
  width: 840;
  background-color: rgba(41,52,140,0.8);
  // opacity: 0.8;
  position:relative;
  z-index: 2;
  height: 150px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 8px 10px rgba(255,255,255,0.2), inset 0 16px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 4px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 8px 10px rgba(255,255,255,0.2), inset 0 16px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 4px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 8px 10px rgba(255,255,255,0.2), inset 0 16px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 4px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 8px 10px rgba(255,255,255,0.2), inset 0 16px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

.picture {
  width: 150px;
  height: 150px;
  background-size: 150px 150px;
  opacity: 1;
  display: block;
  float: left;
  // margin: 15px;
}

.nick {
  background-image: image-url('nick-profile.png');
}

.alberto {
  background-image: image-url('alberto-profile.png');
}

.ed {
  background-image: image-url('ed-profile.png');
}

.luke {
  background-image: image-url('luke-profile.png');
}


section {
  width: 620px;
  display: block;
  float: left;
  margin-left: 25px;
}

section a {
  text-decoration: none;
}

section a:hover {
  color: #77E8FF;
}

section.drop {
  width: 728px;
  display: block;
  float: left;
  margin-left: 13px;
}

#lschoen p{
  margin-top: 0px;
}

.dropdown {
  display:none;
  // overflow:hidden;
  height:0px;
  position:relative;
  z-index: 1;
  width: 762px;
  background-color: rgba(41,52,140,0.8);
  // opacity: 0.8;
  padding: 15px;
  margin-top: -11px;
  margin-left: 25px;
  margin-bottom: 10px;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 -16px 20px 0px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 -16px 20px 0px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 -16px 20px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 -16px 20px 0px rgba(0,0,0,0.3);
 
}

.expand {
  margin-bottom: 13px;
  float: right;
}

.dropdown p {
  margin-bottom: 0px;
}

.social-media {
  display: block;
  float: right;
  // text-align: right;
}

.social-media a {
  display: block;
  width: 65px;
  height: 65px;
  background-image: url('social-media-sprite.png');
  float: right;
  


  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


.social-media a.behance {
  background-position: 0px 0px;
}

.social-media a.twitter {
  background-position: -65px 0px;
}

.social-media a.linkedin {
  background-position: -195px 0px;
}

.social-media a.github {
  background-position: -260px 0px;
}

.social-media a.nm {
  background-position: -325px 0px;
}

.social-media a.blogspot {
  background-position: -390px 0px;
}

.social-media a.google {
  background-position: -455px 0px;
}

.social-media a.codepen {
  background-position: -520px 0px;
}

.social-media a.behance:hover {
  background-position: 0px -65px;
}

.social-media a.twitter:hover {
  background-position: -65px -65px;
}

.social-media a.linkedin:hover {
  background-position: -195px -65px;
}

.social-media a.github:hover {
  background-position: -260px -65px;
}

.social-media a.nm:hover {
  background-position: -325px -65px;
}

.social-media a.blogspot:hover {
  background-position: -390px -65px;
}

.social-media a.google:hover {
  background-position: -455px -65px;
}

.social-media a.codepen:hover {
  background-position: -520px -65px;
}

.clear {
  clear: both;
}