// Place all the styles related to the Statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-color: black;
	background-color: #091338;
	background-image: image-url('skulls.png');
	background-repeat: no-repeat;
	background-position: right top;
	color:white;
}

h1 {
	background-image: image-url('title.png');
	width: 532px;
	height: 176px;
	margin-top: 0;
	margin-bottom: 0;
	
	text-indent: 100%;
	white-space: nowrap;
	overflow:hidden;
}

#container {
	width: 960px;
	margin: 0 auto;
	// background-color: #091338;
	// background-image: image-url('skulls.png');
	// background-repeat: no-repeat;
	// background-position: right top;


}

